
<template>
    <div id="Home" class="col-lg-10 text-center">
        <div class="card">
            <div class="card-header">
            {{this.title}}
            </div>
            <div v-if="!isActive">
                <login v-if="storage()"></login>
                <dashboard v-else></dashboard>
                <span v-if="storage()" v-on:click="isActive = true" class="log-or-register col-lg-4 p-2 mr-3 mb-3">Don't have account? Register</span>
            </div>
            <div v-else>
                <register></register>
                <span v-on:click="isActive = false" class="log-or-register col-lg-4 p-2 mr-3 mb-3">Have account? Login</span>
            </div>
            
        </div>
    </div>
</template>

<script>
    import login from '@/components/auth/login.vue'
    import dashboard from '@/components/auth/dashboard.vue'
    import register from '@/components/auth/register.vue'

    export default {
        name: 'Home',
        components: {
            login,
            dashboard,
            register
        },
        data: function() {
            return {
                title: localStorage.getItem('token') ? 'Dashboard' : 'Authorization',
                isActive: false,
            }
        },
        methods : {
            storage() {
                if (localStorage.getItem('token')) {
                    return false
                } else {
                    return true
                }
            }
        }
    }
</script>