
<template>
    <div id="Offer" class="col-lg-12 text-center">
            <h1>{{ offerslist.title }}</h1>  
            <div class="col-lg-12">{{ offerslist.description }}</div> 
            <div class="col-lg-12 mt-5 text-right">Category: <strong>{{ offerslist.category[0].name }}</strong></div>
    </div>
</template>

<script>
     export default {
        name: 'Offer',
        props: ['id'],
        data() {
            return {
                offerslist: ''
            }
        },
         methods: {
            singleOffer(id) {
                var self = this;
                this.axios.get('http://api.wip/api/offers/' + id, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-Requested-With': 'application/json',
                    },
                })
                .then(function (response) {
                    self.offerslist = response.data;
                })
                .catch(function () {});
            }
        },
        beforeMount(){
            this.singleOffer(this.$props.id)
        }
    }
</script>