
<template>
    <div id="Offers" class="col-lg-12 text-center">
        <form class="search" @submit.prevent="search" v-on:change="search">
            <div class="form-group text-right">
                <label> 
                    <select  class="d-inline form-control" type="search" v-model="inputSearch" name="search">
                        <option value="">select category</option>
                        <option :value="cat.name" v-for="cat in categories">{{ cat['name'] }}</option>
                    </select>
                </label>
            </div>
        </form>

        <div v-for="offer in offerslist">
            <div class="card mb-3">
                <div class="card-header">
                   <div class="row">
                        <div class="col-lg-9">{{offer.title}}</div>
                       <div class="col-lg-3">{{offer.created_at}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 p-5 text-left">{{offer.description.substr(0,155) + '...'}}</div>
                    <div class="col-lg-12 text-right"><button v-on:click="show(offer.id)" :id="offer.id" class="btn btn-success mr-4 mb-4">Read more</button></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
     export default {
        name: 'Offers',
        data() {
            return {
                inputSearch: '',
                offerslist: '',
                categories: [],
            }
        },
        methods: {
            search(){
                var self = this;
                this.axios.post('http://api.wip/api/offers', 
                {
                    category_name: self.inputSearch,
                },
                {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-Requested-With': 'application/json',
                    },
                })
                .then(function (response) {
                    self.offerslist = response.data.data.myOffers;
                    self.categories = response.data.data.categories;
                })
                .catch(function () {});
            },
            show(postid) {
                this.$router.push({ path: '/offer/' + postid});
            },
            offers() {
                var self = this;
                this.axios.post('http://api.wip/api/offers', {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-Requested-With': 'application/json',
                    },
                })
                .then(function (response) {
                    self.offerslist = response.data.data.myOffers;
                    self.categories = response.data.data.categories;
                })
                .catch(function () {});
            }
        },
        beforeMount(){
            this.offers()
        }
    }
</script>