
.remove-action {
    background: none;
    color: white;
    border: 3px solid #fff;
    border-radius: 100%;
    float:right;
    margin:auto;
    &:hover {
        cursor:pointer;
        background: red;
        transition: 0.2s ease all;
    }
    ion-icon {
        margin-top:5px;
    }
}
.offer {
    &-title {
        max-width: 85%;
    }
    &-content {
        position:relative;
    }
    &-remove {
        position: absolute;
        right: 10px;
        top:0;
        bottom:0;
        margin:auto;
        display: flex;
    }
}