.wrap {
    min-height:341px;
}
.text-center {
    margin:auto;
}
.vuejs-title {
    color: #35495e !important;
    text-shadow: 1px 1px 20px #41b883;
}
.log-or-register {
    color: #35495e;
    float: right;
    cursor: pointer;
}
.router-link-exact-active {
    font-weight: 600;
    color: #35495e;
    border: 2px solid;
    border-radius: 20px;
    padding: 4px 12px;
    background: #ffffff;
}
.nav {
    &-item {
        text-decoration: none;
        color: #35495e;
        font-size: 19px;
        &:hover {
            text-decoration: none;
        }
    }
    &-logout {
        vertical-align: middle;
        margin-bottom: 4px;
    }
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: 1px solid #a5a5a5;
    padding-top: 20px;
    &-author {
        background: #35495e;
        color: white;
        padding: 21px;
    }
}
