<template>
  <div id="app">
    <div id="nav" class="nav navbar p-3 navbar-light bg-light">
      <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/" class="nav-item mr-3 ml-2"><span v-if="isLoggedIn()">Dashboard</span><span v-else>Login</span></router-link>
           <router-link to="/offers" class="nav-item mr-3 ml-2">Offers</router-link>
        </li>
      </ul>
    </div>
      <a href="" class="nav-item" v-if="isLoggedIn()"  v-on:click="logout()"><ion-icon name="power" class="nav-logout"></ion-icon>Logout</a>
    </div>
    <div class="container wrap mt-5 mb-5">
      <div class="row">
         <router-view/>
      </div>
      
    </div>
    <footer class="footer text-center mt-5">
        <h3 class="vuejs-title">Vuejs test frontend app</h3>
        <img src="@/assets/logo.png">
        <p class="footer-author">Developed by: <strong>Michał Płócieniak</strong></p>
      </footer>
  </div>
</template>

  <script type="text/javascript" src="/src/assets/bundle.js"></script>

<script>    
    export default {
        name: 'app',        
        data() {
            return {}
        },
        methods: {
            isLoggedIn() {
              if(localStorage.getItem('token')) {
                return true
              } else {
                return false
              }
            },
            logout() {
                localStorage.clear();
                this.$router.go({ path: '/'})
            }
        }
    }
</script>