<template>
    <div id="dashboard" class="col-lg-12">
        <div v-if="message.length != 0" class="alert mt-3 alert-danger">
            <ul>
                <li v-for="(msg, key) in message">{{msg[0]}}</li>
            </ul>
        </div> 
        <form class="login mt-5 mb-5" @submit.prevent="store">
            <div class="form-group">
                <input class="form-control" type="text" name="title" v-model="input.title" placeholder="title" />
            </div>
            <div class="form-group">    
                <textarea class="form-control" name="description" v-model="input.description" placeholder="description"></textarea>
            </div>
            <div class="form-group">    
                <select class="form-control" name="category" v-model="input.category" placeholder="category">
                    <option value="" selected>select category</option>
                    <option :value="cat.id" v-for="cat in categories">{{ cat.name }}</option>
                </select>
            </div>
            <button type="button" class="col-lg-3 p-2 btn btn-success" v-on:click="store()">Create offer</button>
        </form>
        <p>My Offers:</p><hr/>
        <p v-if="myOffers.length == 0">You don't have any offers yet. Add some!</p>
        <div v-else class="mt-5" v-for="(offer, index) in myOffers">
            <div class="offer-content p-2 bg-primary text-light">        
                <h5 class="offer-title">{{offer.title}}</h5>
                <div class="offer-remove">
                    <button type="button" class="remove-action" v-on:click="del(offer.id, index)"><ion-icon name="close"></ion-icon></button>
                </div>
            </div>
            <div class="p-2">        
                {{offer.description}}               
            </div>
        </div>
    </div>
</template>

<script>    
    export default {
        name: 'dashboard',        
        data() {
            return {
                input: {
                    title: "",
                    description: "",
                    category: ""
                },
                message: [],
                categories: "",
                myOffers: "",
                newOfferID: "",
            }
        },
        methods: {
            store() {
                var id = localStorage.getItem('userid');
                var token = localStorage.getItem('token');
                var self = this;

                this.axios.post('http://api.wip/api/offer/store', {
                    title: this.input.title,
                    description: this.input.description,
                    author_user_id: id,
                    category: this.input.category,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token,
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-Requested-With': 'application/json'
                    }
                })
                .then( 
                    function (response) {
                        self.newOfferID = response.data.id;
                        self.myOffers.splice(0, 0,{
                            id: self.newOfferID,
                            title: self.input.title,
                            description: self.input.description,
                            author_user_id: id,
                            category: 2
                        })
                    }, 
                )
                .catch(function (error) {
                    console.log(error.response.data);
                    console.log(error.response.status);
                    self.message = error.response.data.errors;

                });
            },
            del(id, index) {
                var self = this;
                var token = localStorage.getItem('token');
                this.axios.delete('http://api.wip/api/offer/delete/' + id,{
                    headers: {
                        'Authorization': 'Bearer ' + token,
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-Requested-With': 'application/json'
                    }
                })
                .then(function () {
                    self.myOffers.splice(index, 1);
                })
                .catch(function () {
                });
            },
            show() {
                var self = this;
                var id = localStorage.getItem('userid');
                var token = localStorage.getItem('token');
                this.axios.get('http://api.wip/api/offer/show/' + id, {
                    headers: {
                        'Authorization': 'Bearer ' + token,
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-Requested-With': 'application/json'
                    }
                })
                .then(function (response) {
                    self.myOffers = response.data.data.myOffers;
                    self.categories = response.data.data.categories;
                })
                .catch(function () {
                });
            }
        },
        beforeMount() {
            this.show();
        }
    }
</script>