<template>
    <div class="login col-lg-10 mt-5 mb-3 text-center">
        <form class="login" @submit.prevent="login">
            <div class="form-group">
                <input class="form-control" type="text" name="email" v-model="input.email" placeholder="Email" />
            </div>
            <div class="form-group">    
                <input class="form-control" type="password" name="password" v-model="input.password" placeholder="Password" />
            </div>
            <button type="button" class="col-lg-3 p-2 btn btn-success" v-on:click="login()">Login</button>
            <div v-if="message" class="mt-4 alert " v-bind:class="{ 'alert-danger': alertError, 'alert-success': alertSuccess }" role="alert">{{message}}</div>
        </form>

    </div>
</template>

<script>
    export default {
        name: 'login',
        data() {
            return {
                input: {
                    password: "",
                    email: ""
                },
                 message: '',
                 alertError: false,
                 alertSuccess: false,
            }
        },
        methods: {
            login() {
                var self = this;
                this.axios.post('http://api.wip/api/auth/login', {
                    email: this.input.email,
                    password: this.input.password,
                    remember_me: 1
                })
                .then(function (response) {
                    if(response.status == 200 && response.data.access_token) {
                        localStorage.setItem('token', response.data.access_token);
                        localStorage.setItem('userid', response.data.user_id);
                        self.alertError = false;
                        self.alertSuccess = true;
                        self.message = "Logged in sucessfully.";
                        setTimeout( () => self.$router.go({ path: '/'}), 2000);
                        
                    }
                })
                .catch(function () {
                    self.message = "We couldn't log you in, please check data.";
                    self.alertError = true;
                });
            }
        }
    }
</script>