<template>
    <div class="login col-lg-10 mt-5 mb-3 text-center">
        <form class="register" @submit.prevent="register">
            <div class="form-group">
                <input class="form-control" type="text" name="email" v-model="input.email" placeholder="Email" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="name" v-model="input.name" placeholder="Name" />
            </div>
            <div class="form-group">    
                <input class="form-control" type="password" name="password" v-model="input.password" placeholder="Password" />
            </div>
            <div class="form-group">    
                <input class="form-control" type="password" name="password_confirmation" v-model="input.password_confirmation" placeholder="Password confirmation" />
            </div>
            <button type="button" class="col-lg-3 p-2 btn btn-success" v-on:click="register()">Signup</button>
            <div v-if="message" class="mt-4 alert" v-bind:class="{ 'alert-danger': alertError, 'alert-success': alertSuccess }" role="alert">{{message}}</div>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'register',
        data() {
            return {
                input: {
                    name: "",
                    password: "",
                    password_confirmation: "",
                    email: ""
                },
                 message: '',
                 alertError: false,
                 alertSuccess: false,
            }
        },
        methods: {
            register() {
                var self = this;
                this.axios.post('http://api.wip/api/auth/signup', {
                    email: this.input.email,
                    name: this.input.name,
                    password: this.input.password,
                    password_confirmation: this.input.password_confirmation
                })
                .then(function (response) {
                    if(response.status == 201) {
                        self.message = "Thanks for register, we'll redirect you to login now.";
                        self.alertError = false;
                        self.alertSuccess = true;
                        setTimeout( () => self.$router.go({ path: '/'}), 3000);
                    }
                })
                .catch(function () {
                    self.message = "Register couldn't be completed, check out data again. ";
                    self.alertError = true;
                });
            }
        }
    }
</script>